.group-img {
    width: 210px;
    max-height: 210px;
    align-self: center;
}

.group-img-container {
    display: flex;
}

.group-item {
    display: flex;
    flex-direction: row;
    height: 250px;
    border-top: 1px solid lightgrey;
    width: 650px;
    background-color: #90C494;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.group-item:hover {
    cursor: pointer;
}

.group-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.group-information > * {
    margin: 0px;
}

.group-description {
    display: flex;
    flex-direction: row;
}

.group-description > h5 {
    margin: 10px;
}

.group-item > * {
    margin: 5px;
}
