.list-nav {
    display: flex;
    position: relative;
    right: 200px;
    top: 20px;
    justify-content: space-between;
    width: 160px;
}

.list-nav > * {
    color: grey;
}

.list-nav > *:hover {
    text-decoration: underline;
}

.list-nav-link {
    font-size: 1.5rem;
    align-self: left;
    text-decoration: none;
}

.list-nav > .active {
    color: teal;
    text-decoration: underline;
}

.list-nav > .active:hover {
    cursor: default;
}
