#log-in-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    justify-content: flex-start;
    align-items: center;
}

#log-in-modal > * {
    margin-top: 20px;
    margin-bottom: 0px;
}

#modal-content {
    border-radius: 15px;
}

#log-in-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    width: 100%;
}

.log-in-input {
    padding: 0px;
    margin: 5px 0px;
    width: 70%;
    align-self: center;
}

#log-in-submit {
    margin-top: 8px;
}

#demo {
    align-self: center;
    color: purple;
}

#demo:hover {
    text-decoration: underline;
}
