#delete-event-modal {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
    align-items: center;
}

#delete-event-modal > button {
    width: 90%;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 5px;
    line-height: 2rem;
}

#delete-event-modal > h1, h3 {
    margin: 5px 0px;
}
